*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}


.banner-section{
        position: relative;
}
.banner-title{
        position: absolute;
        width: 525px;
       height: 228px;
       left: 830px;
        top: 200px;
       right: 100px;
        font-weight: 700;
       font-size: 65px;
       text-align: right;
       color: #ffffff;
}
.banner-description{
        position: absolute;
        width: 494px;
        height: 78px;
        left: 868px;
        top: 468px;

       font-size: 16px;
       text-align: right;
       color: #ffffff;
}
.btn-primary{
       position: absolute;
       border: none;
       width: 160px;
       height: 64px;
       left: 1210px;
       top: 578px;
       color:  #005FAC;
       font-weight: 600;
      font-size: 20px;
  
      text-align: center;
      border-radius: 5px;

}
/* second section styles */
.second-section{
        display: flex;
        justify-content:center;
        height: 723.3px;
        left: 206px;
       margin-top: 90px;
       margin-left: 300px;
       margin-right: 300px;
       width: 1072px;
       gap: 87px;
}
.second-section-title{
        font-family: work sans;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 25px;
        color: #151414;
}
.second-section-description{
margin-bottom: 16px;
}
.text-div{
        margin-top: 300px;
}
li{
  color: #444343;

}
ul{
        margin-left: 20px;
}

